base:
  owner: scriptish
  repo: scriptish
target:
  owner: scriptish
  repo: scriptish-nightlies
  name: scriptish
  subdir: extension
  updateurl: https://code.downthemall.net/scriptish-nightly-update.rdf
  updaterdf: ~/html/scriptish-nightly-update.rdf
user:
  name: <user>
  pass: <pass>
